@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;900&family=Permanent+Marker&family=Playfair+Display&family=Poppins:wght@300;400;500;600;700;800;900&family=Ysabeau+Infant:ital,wght@1,1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header{
    width: 100vw;
    height: 9vh;
    background: #eee;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li {
    display: inline-flex;
    list-style: none;
    padding: 0 2vw;
}
ul li a{
    text-decoration: none;
    color: #000;
}
.burger{
    display: none;
}

@media (max-width: 700px) {
    ul {
        display: none;
    }
    .visible{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #eee;
        height: auto;
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100vw;
        height: auto;
    }
    a{
        width: 100%;
        padding: 20px 0;
    }
    a:hover{
        transform: translateX(3px);
        transition: transform 0.3s ease;
    }
    .burger{
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
}